In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [ ]:
df=pd.read_csv("/content/sample_data/homeprice - extended - Sheet1.csv")
df["bedrooms"].isna().sum()
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [ ]:
df["bedrooms"].fillna(df["bedrooms"].mean(),inplace=True)

In [ ]:
x=df.drop(columns="price")
x

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.2   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [ ]:
y=df["price"]

In [ ]:
reg_model= linear_model.LinearRegression()
reg_model.fit(x,y)

LinearRegression()

In [ ]:
reg_model.predict([[3100,5,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([650285.40264007])

In [ ]:
import pickle
pickle.dump(reg_model, open('/content/model.pkl', 'wb'))

In [ ]:
model = pickle.load(open('/content/model.pkl','rb'))
model.predict([[3100,5,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([650285.40264007])