In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [ ]:
df=pd.read_csv("/content/sample_data/insurance2.csv")
df.head()

   age  sex     bmi  children  smoker  region      charges  insuranceclaim
0   19    0  27.900         0       1       3  16884.92400               1
1   18    1  33.770         1       0       2   1725.55230               1
2   28    1  33.000         3       0       2   4449.46200               0
3   33    1  22.705         0       0       1  21984.47061               0
4   32    1  28.880         0       0       1   3866.85520               1

In [ ]:
df.groupby("insuranceclaim").mean()

,age,sex,bmi,children,smoker,region,charges
insuranceclaim,,,,,,,
0,37.309910,0.486486,27.881586,1.681081,0.045045,1.488288,8821.421892
1,40.551724,0.518519,32.635179,0.679438,0.318008,1.535121,16423.928277

In [ ]:
x=df.drop(columns=['sex','insuranceclaim','region'])
y=df['insuranceclaim']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.2)

In [ ]:
clasi_model=linear_model.LogisticRegression()
clasi_model.fit(x_train,y_train)

LogisticRegression()

In [ ]:
clasi_model.predict(x_test)

array([1, 1, 0, ..., 0, 0, 1])

In [ ]:
clasi_model.score(x_train,y_train)

0.8576779026217228