In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [ ]:
df=pd.read_csv("/content/sample_data/hiring - Sheet1.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [ ]:
!pip install word2number

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: word2number in /usr/local/lib/python3.7/dist-packages (1.1)

In [ ]:
from word2number import w2n

for i in range(len(df)):
  if (df["experience"].isnull()[i]==False):
    df["experience"][i] = w2n.word_to_num(df["experience"][i])
    
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2          5                    6.0                           7      60000
3          2                   10.0                          10      65000
4          7                    9.0                           6      70000
5          3                    7.0                          10      62000
6         10                    NaN                           7      72000
7         11                    7.0                           8      80000

In [ ]:
df["experience"].fillna(df["experience"].mean(),inplace=True)

In [ ]:
df["test_score(out of 10)"].fillna(df["test_score(out of 10)"].mean(),inplace=True)

In [ ]:
x=df.drop(columns="salary($)")
x

   experience  test_score(out of 10)  interview_score(out of 10)
0    6.333333               8.000000                           9
1    6.333333               8.000000                           6
2    5.000000               6.000000                           7
3    2.000000              10.000000                          10
4    7.000000               9.000000                           6
5    3.000000               7.000000                          10
6   10.000000               7.857143                           7
7   11.000000               7.000000                           8

In [ ]:
y=df["salary($)"]
y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary($), dtype: int64

In [ ]:
reg_model= linear_model.LinearRegression()
reg_model.fit(x,y)

LinearRegression()

In [ ]:
reg_model.score(x,y)

0.3435763109281057

In [ ]:
reg_model.predict([[7,8,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([70851.48092409])