In [1]:
!wget -cq https://docs.google.com/spreadsheets/d/14t9JVx0_lN5vTBaA0cLr2Dd39jhJ4i32AxvEzawwvHk/edit#gid=0

In [5]:
import pandas as pd

df=pd.read_csv('/content/sample_data/weather01 - Sheet1.csv')
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [6]:
df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
df[-3:-1]

        day  temperature  windspeed event
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [11]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [13]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [15]:
df[['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [18]:
gre=df['temperature']>32
df[gre]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [22]:
df['temperature'].max()

35

In [23]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny